n8n/workflow_prospecting.json
{
  "name": "Campusland CRM - Prospeccion Automatica Colombia",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [1],
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "trigger-schedule",
      "name": "Lunes 8am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 200]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "campusland-prospect-manual",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "trigger-webhook",
      "name": "Trigger Manual (Webhook)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 380],
      "webhookId": "campusland-manual-prospect"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dept-list",
              "name": "targetDepartments",
              "value": "=[\"Santander\",\"Norte de Santander\"]",
              "type": "array"
            },
            {
              "id": "industries",
              "name": "targetIndustries",
              "value": "=[\"Tecnologia\",\"Servicios Financieros\",\"Salud\",\"Educacion\",\"Manufactura\"]",
              "type": "array"
            },
            {
              "id": "crm-url",
              "name": "crmBaseUrl",
              "value": "=http://host.docker.internal:8080/api",
              "type": "string"
            },
            {
              "id": "automation-token",
              "name": "automationToken",
              "value": "={{$env.CAMPUSLAND_AUTOMATION_TOKEN}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "config-vars",
      "name": "Config (departamentos objetivo)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [500, 290]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/v1/mixed_companies/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Cache-Control", "value": "no-cache"},
            {"name": "Content-Type", "value": "application/json"},
            {"name": "X-Api-Key", "value": "={{$env.APOLLO_API_KEY}}"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"q_organization_locations\": [\"Santander, Colombia\", \"Norte de Santander, Colombia\"],\n  \"organization_num_employees_ranges\": [\"51,200\",\"201,1000\",\"1001,5000\"],\n  \"organization_industry_tag_ids\": [],\n  \"page\": 1,\n  \"per_page\": 25\n}",
        "options": {
          "retry": {"numberOfRetries": 3, "waitBetweenRetries": 5000}
        }
      },
      "id": "apollo-companies",
      "name": "Apollo.io - Buscar empresas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [760, 290]
    },
    {
      "parameters": {
        "fieldToSplitOut": "organizations",
        "options": {}
      },
      "id": "split-companies",
      "name": "Separar empresas",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1020, 290]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": false, "leftValue": "", "typeValidation": "loose"},
          "conditions": [
            {
              "id": "has-name",
              "leftValue": "={{$json.name}}",
              "rightValue": "",
              "operator": {"type": "string", "operation": "notEmpty"}
            },
            {
              "id": "has-linkedin",
              "leftValue": "={{$json.linkedin_url}}",
              "rightValue": "",
              "operator": {"type": "string", "operation": "notEmpty"}
            },
            {
              "id": "in-colombia",
              "leftValue": "={{($json.country || '').toLowerCase()}}",
              "rightValue": "colombia",
              "operator": {"type": "string", "operation": "contains"}
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-valid",
      "name": "Filtro: valida + Colombia",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1280, 290]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {"caseSensitive": false, "leftValue": "", "typeValidation": "loose"},
                "conditions": [
                  {
                    "id": "nds-rule",
                    "leftValue": "={{($json.raw_address || $json.state || '').toLowerCase()}}",
                    "rightValue": "norte de santander",
                    "operator": {"type": "string", "operation": "contains"}
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "karolain"
            },
            {
              "conditions": {
                "options": {"caseSensitive": false, "leftValue": "", "typeValidation": "loose"},
                "conditions": [
                  {
                    "id": "santander-rule",
                    "leftValue": "={{($json.raw_address || $json.state || '').toLowerCase()}}",
                    "rightValue": "santander",
                    "operator": {"type": "string", "operation": "contains"}
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "marcela"
            }
          ]
        },
        "options": {"fallbackOutput": "extra"}
      },
      "id": "route-by-dept",
      "name": "Ruteo por departamento",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1540, 290]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "a1", "name": "assignedTo", "value": "karolain", "type": "string"},
            {"id": "a2", "name": "department", "value": "Norte de Santander", "type": "string"},
            {"id": "a3", "name": "companyPayload", "value": "={{ $json }}", "type": "object"}
          ]
        },
        "options": {}
      },
      "id": "tag-karolain",
      "name": "Asignar a Karolain",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1800, 180]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "m1", "name": "assignedTo", "value": "marcela", "type": "string"},
            {"id": "m2", "name": "department", "value": "Santander", "type": "string"},
            {"id": "m3", "name": "companyPayload", "value": "={{ $json }}", "type": "object"}
          ]
        },
        "options": {}
      },
      "id": "tag-marcela",
      "name": "Asignar a Marcela",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1800, 380]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "merge-assigned",
      "name": "Merge vendedores",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [2060, 290]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.apollo.io/v1/mixed_people/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"},
            {"name": "X-Api-Key", "value": "={{$env.APOLLO_API_KEY}}"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"organization_ids\": [\"{{$json.companyPayload.id}}\"],\n  \"person_titles\": [\"CEO\", \"Chief Executive Officer\", \"CTO\", \"Chief Technology Officer\", \"Talent Manager\", \"Head of Talent\", \"HR Director\"],\n  \"page\": 1,\n  \"per_page\": 5\n}",
        "options": {
          "retry": {"numberOfRetries": 3, "waitBetweenRetries": 5000}
        }
      },
      "id": "apollo-contacts",
      "name": "Apollo.io - Buscar contactos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2320, 290]
    },
    {
      "parameters": {
        "jsCode": "// Construir payload final para enviar al CRM\n// Prioriza: CEO > CTO > Talent Manager > HR\n// Marca email como 'personal' (ej: juan.perez@empresa.com) vs 'generic' (info@, contact@)\n\nconst results = [];\n\nfor (const item of $input.all()) {\n  const company = item.json.companyPayload;\n  const people = item.json.people || [];\n\n  // Ordenar contactos por prioridad\n  const rolePriority = { 'CEO': 1, 'Chief Executive Officer': 1, 'CTO': 2, 'Chief Technology Officer': 2, 'Talent Manager': 3, 'Head of Talent': 3, 'HR Director': 4 };\n  const sorted = people\n    .filter(p => p.email)\n    .sort((a,b) => (rolePriority[a.title] || 99) - (rolePriority[b.title] || 99));\n\n  const primary = sorted[0];\n  if (!primary) continue; // no hay contacto con email, descartar\n\n  // Detectar si es email genérico o personal\n  const email = primary.email.toLowerCase();\n  const isGeneric = /^(info|contact|contacto|admin|sales|ventas|support|soporte|hello|hi)@/.test(email);\n\n  // Normalizar rol al enum del backend (CEO|CTO|TALENT_MANAGER|HR)\n  const title = (primary.title || '').toLowerCase();\n  let role = 'CEO';\n  if (title.includes('cto') || title.includes('technology')) role = 'CTO';\n  else if (title.includes('talent')) role = 'TALENT_MANAGER';\n  else if (title.includes('hr') || title.includes('human')) role = 'HR';\n\n  results.push({\n    json: {\n      // Empresa\n      name: company.name,\n      industry: company.industry || 'Otro',\n      size: (company.estimated_num_employees || '').toString(),\n      country: 'Colombia',\n      department: item.json.department,\n      website: company.website_url || null,\n      linkedinUrl: company.linkedin_url,\n      assignedTo: item.json.assignedTo,\n      // Contacto primario\n      contact: {\n        name: `${primary.first_name || ''} ${primary.last_name || ''}`.trim(),\n        email: primary.email,\n        role: role,\n        isGeneric: isGeneric\n      },\n      // Metadata\n      source: 'apollo',\n      // Auto-email: solo si es personal\n      shouldAutoSendEmail: !isGeneric\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "build-payload",
      "name": "Construir payload + clasificar email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2580, 290]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config (departamentos objetivo)').item.json.crmBaseUrl }}/automation/ingest",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"},
            {"name": "X-Automation-Token", "value": "={{ $('Config (departamentos objetivo)').item.json.automationToken }}"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "retry": {"numberOfRetries": 3, "waitBetweenRetries": 5000},
          "response": {"response": {"neverError": true, "responseFormat": "json"}}
        }
      },
      "id": "crm-ingest",
      "name": "POST /api/automation/ingest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2840, 290]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": false, "leftValue": "", "typeValidation": "loose"},
          "conditions": [
            {
              "id": "ok-and-personal",
              "leftValue": "={{ $json.shouldAutoSendEmail }}",
              "rightValue": true,
              "operator": {"type": "boolean", "operation": "equals"}
            },
            {
              "id": "ingest-ok",
              "leftValue": "={{ $json.companyId || $json.id }}",
              "rightValue": "",
              "operator": {"type": "string", "operation": "notEmpty"}
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-personal-email",
      "name": "Si es email personal",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3100, 290]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config (departamentos objetivo)').item.json.crmBaseUrl }}/emails/prospection",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"},
            {"name": "X-Automation-Token", "value": "={{ $('Config (departamentos objetivo)').item.json.automationToken }}"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"companyId\": \"{{ $json.companyId }}\",\n  \"contactId\": \"{{ $json.contactId }}\"\n}",
        "options": {
          "retry": {"numberOfRetries": 3, "waitBetweenRetries": 5000},
          "response": {"response": {"neverError": true, "responseFormat": "json"}}
        }
      },
      "id": "send-email-auto",
      "name": "Enviar email auto (CRM)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3360, 190]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "log1", "name": "skipped", "value": "=Email generico: {{ $json.contact.email }}", "type": "string"}
          ]
        },
        "options": {}
      },
      "id": "log-skip",
      "name": "Log: email generico (no auto-send)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [3360, 390]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "merge-final",
      "name": "Consolidar resultados",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [3620, 290]
    }
  ],
  "connections": {
    "Lunes 8am": {
      "main": [[{"node": "Config (departamentos objetivo)", "type": "main", "index": 0}]]
    },
    "Trigger Manual (Webhook)": {
      "main": [[{"node": "Config (departamentos objetivo)", "type": "main", "index": 0}]]
    },
    "Config (departamentos objetivo)": {
      "main": [[{"node": "Apollo.io - Buscar empresas", "type": "main", "index": 0}]]
    },
    "Apollo.io - Buscar empresas": {
      "main": [[{"node": "Separar empresas", "type": "main", "index": 0}]]
    },
    "Separar empresas": {
      "main": [[{"node": "Filtro: valida + Colombia", "type": "main", "index": 0}]]
    },
    "Filtro: valida + Colombia": {
      "main": [
        [{"node": "Ruteo por departamento", "type": "main", "index": 0}],
        []
      ]
    },
    "Ruteo por departamento": {
      "main": [
        [{"node": "Asignar a Karolain", "type": "main", "index": 0}],
        [{"node": "Asignar a Marcela", "type": "main", "index": 0}],
        []
      ]
    },
    "Asignar a Karolain": {
      "main": [[{"node": "Merge vendedores", "type": "main", "index": 0}]]
    },
    "Asignar a Marcela": {
      "main": [[{"node": "Merge vendedores", "type": "main", "index": 1}]]
    },
    "Merge vendedores": {
      "main": [[{"node": "Apollo.io - Buscar contactos", "type": "main", "index": 0}]]
    },
    "Apollo.io - Buscar contactos": {
      "main": [[{"node": "Construir payload + clasificar email", "type": "main", "index": 0}]]
    },
    "Construir payload + clasificar email": {
      "main": [[{"node": "POST /api/automation/ingest", "type": "main", "index": 0}]]
    },
    "POST /api/automation/ingest": {
      "main": [[{"node": "Si es email personal", "type": "main", "index": 0}]]
    },
    "Si es email personal": {
      "main": [
        [{"node": "Enviar email auto (CRM)", "type": "main", "index": 0}],
        [{"node": "Log: email generico (no auto-send)", "type": "main", "index": 0}]
      ]
    },
    "Enviar email auto (CRM)": {
      "main": [[{"node": "Consolidar resultados", "type": "main", "index": 0}]]
    },
    "Log: email generico (no auto-send)": {
      "main": [[{"node": "Consolidar resultados", "type": "main", "index": 1}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "pinData": {},
  "versionId": "1.0.0",
  "triggerCount": 2,
  "tags": [
    {"name": "campusland", "id": "campusland-crm"},
    {"name": "prospeccion", "id": "prospeccion"}
  ]
}
